<!DOCTYPE html>
<html>
    <Center>
    <head>
        <title>Sentiment analysis application</title>
    </head>
    <body>
        <body bgcolor="#ddfbff"></body>
        <h1><FONT color=" #0a263e " face= "Impact" size="15pt">Sentiment analysis application</FONT></h1>
        <div class= "container mt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <br>
                    <br>
                    <br>
                    <p><FONT size="3pt" face= "Impact" color="#6d95eb"><i>This sentiment analysis application allows the user to find out if the sentence they submitted is positive, negative or neutral.
                        <br>
                        <br>
                        Write a sentence below and click on the "Submit" button to display the result !</i></FONT></p>
                        <div class="boxed" id="demobox">
                        <form id ="regform" method = "post">
                            <br>
                            <br>
                            <br>
                            <input name="sentence" size="20pt" placeholder="Enter your sentence...">
                            
                            <input type="submit" id = "submit_" value = "Submit" size="4" >
                            
                            {% if final %}
                            <div>
                                <p> <FONT size="4pt" face= "Impact" color="#6d95eb"> This sentence is {{final}} ! </FONT> </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</Center>
</html>